{% block custom_post_image_preview_widget %}
    {% spaceless %}
        <div class="custom-image-preview">
        	
 

        	{% if img_uri is defined and img_uri is not empty %}
        		<p><img src="{{ img_uri }}"
        			 style="max-width: 150px; max-height: 150px"
        			 __class="img img-responsive img-preview thumbnail"></p>
        	{% endif %}

            {{ form_widget(form.image_file) }}

        </div>
    {% endspaceless %}
{% endblock %}